<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="nav-bar">
    <a href="#" class="title">All users</a>
    <a href="/" class="link">Utunes Music Library</a>
</div>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Postal Code</th>
        <th>Phone</th>
    </tr>
    <tr th:each="cust: ${customers}"> <!-- Create cust for each row in customers-->
        <td th:text="${cust.getCustomerId()}"></td>
        <td th:text="${cust.getFirstName()} + ' ' + ${cust.getLastName()}"></td>
        <td th:text="${cust.getCountry()}"></td>
        <td th:text="${cust.getPostalCode()}"></td>
        <td th:text="${cust.getPhoneNumber()}"></td>
    </tr>
</table>

</body>
</html>