<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="nav-bar">
    <a href="customerList" class="link">All users</a>
    <a href="#" class="title">Utunes Music Library</a>
    <a href="popular" class="link">User per country</a>
</div>

<div class="container">
    <div class="genre">
        <div class="genre-title">Artists</div>
        <div class="genre-items">
            <div class="item">Item</div>
            <div class="item">Item</div>
            <div class="item">Item</div>
            <div class="item">Item</div>
            <div class="item">Item</div>
        </div>
    </div>
    <div class="genre">
        <div class="genre-title">Songs</div>
        <div class="genre-items">
            <div class="item">Item</div>
            <div class="item">Item</div>
            <div class="item">Item</div>
            <div class="item">Item</div>
            <div class="item">Item</div>
        </div>
    </div>
    <div class="genre">
        <div class="genre-title">Genres</div>
        <div class="genre-items">
            <div class="item">Item</div>
            <div class="item">Item</div>
            <div class="item">Item</div>
            <div class="item">Item</div>
            <div class="item">Item</div>
        </div>
    </div>
</div>

</body>
</html>