<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<table>
    <tr th:each="cust: ${customers}">
        <td th:text="${cust.getCustomerId()}"></td>
        <td th:text="${cust.getFirstName()} + ' ' + ${cust.getLastName()}"></td>
        <td th:text="${cust.getCountry()}"></td>
        <td th:text="${cust.getPostalCode()}"></td>
        <td th:text="${cust.getPhoneNumber()}"></td>
    </tr>
</table>
</body>
</html>