<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="nav-bar">
    <a th:href="@{/customerList}" class="link">All users</a>
    <a th:href="@{/}" class="title">Utunes Music Library</a>
</div>

<div class="search-title">Search results for "<span th:text="${trackName}"></span>"...</div>
    <table class="result-list">
        <tr>
            <th>Artist</th>
            <th>Song</th>
            <th>Album</th>
            <th>Genre</th>
        </tr>
        <tr class="search-result" th:each="track: ${tracks}"> <!-- Create track for each row in tracks-->
            <td th:text="${track.getArtistName()}"></td>
            <td th:text="${track.getTrackName()}"></td>
            <td th:text="${track.getAlbumName()}"></td>
            <td th:text="${track.getGenreName()}"></td>
        </tr>
    </table>
</body>
</html>